<launch>
  <!-- MOTION CONTROL HARDWARE CONTROL LAUNCH FILE -->
  <include file="$(find motion_control)/launch/motion_control.launch" />

  <!-- GO TO GOAL NODES -->
  <node pkg="go_to_goal" type="mod_go1.py" name="go_to_goal_rob1"/>

  <!-- PATH PLANNING NODES -->
  <node pkg="pathplanning" type="a_star_ros1.py" name="astar_rob1"/>
</launch>
